<div class="info-container flex-column bd-highlight mb-3 mt-3 mx-auto">
    <div class="main-title justify-content-lg-start">
        <h1 class="text-light fs-2 fs-lg-5 text-center ms-lg-5">Editar Información Personal </h1>
        <div class ="ml-3"> <img src="https://img.icons8.com/ios-filled/50/000000/settings.png " height="70"/></div>
    </div>
    <div class="information-container mt-sm-4">
        <form action= "editar" method="POST">
            <ul class="list-group list-group-flush">
                <li class="list-group-item mt-2 mb-2">
                    <span class="col-9"><i class='bx bxs-home bx-flip-horizontal'></i><span class="ms-2"></span>NOMBRES Y APELLIDOS</span></span>
                    <span class="col-3"><%=nombred%></span>
                </li>
                <li class="list-group-item mt-2 mb-2">
                    <span class="col-9"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z"/>
                    </svg><span class="ms-2">DNI</span></span>
                    <span class="col-3"><%=dnid%></span>
                </li>
                <li class="list-group-item mt-2 mb-2">
                    <span class="col-9"><svg aria-hidden="true" width="16" height="16" focusable="false" data-prefix="fas" data-icon="envelope" class="svg-inline--fa fa-envelope fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"></path>
                        </svg><span class="ms-2">CORREO</span></span>
                    <div class="input-group">
                        <input name="email" class="input-item" type="text" value=<%=correod%>>
                    </div>
                </li>
                <li class="list-group-item mt-2 mb-2">
                    <span class="col-9"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg><span class="ms-2">TELEFONO/CELULAR</span></span>
                    <div class="input-group">
                        <input name="phone" class="input-item" type="text" value=<%=telefonod%>>
                    </div>
                </li>
            </ul>
            <div class="edit d-flex justify-content-center justify-content-lg-center mt-3 mb-2">
                <button id="submitDatos" name="submit" class="btn btn-outline-danger" style="height: 35px;">Guardar cambios</button>
            </div>
        </form>
    </div>
    <div class="row w-100 mt-4">
        <div class="col-4 text-center">
            <span></span>
        </div>
        <div class="col-4 text-center mt-3">
            <span><strong> CONTRASEÑAS</strong> </span>
        </div>
        <div class="col-4 text-center">
            <span></span>
        </div>
    </div>
    <div id="changePassword" class="information-container mt-sm-4">
        <form name="formName" action="editCon" method="POST">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="col-8"><i class='bx bxs-home bx-flip-horizontal'></i><span class="ms-2"></span>Contraseña actual</span></span>
                    <div class="input-group">
                        <input id="password" type="password" name="pass" class="input-item" value="" minlength="4" maxlength="16" required placeholder="Contraseña">
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="col-8"><i class='bx bxs-home bx-flip-horizontal'></i><span class="ms-2"></span>Contraseña nueva</span></span>
                    <div class="input-group">
                        <input id="passwordnuevo" name="passwordNew1" class="input-item" type="password" value="" minlength="8" maxlength="16" required placeholder="Contraseña" >
                    </div>
                </li>
                <li class="list-group-item">
                    <span class="col-8"><i class='bx bxs-home bx-flip-horizontal'></i><span class="ms-2"></span>Confirmar contraseña</span></span>
                    <div class="input-group">
                        <input id="passwordconfi" name="passwordNew2" class="input-item" type="password" value="" minlength="8" maxlength="16" required  placeholder="Contraseña">
                    </div>
                </li>
            </ul>
            <div class="edit d-flex justify-content-center justify-content-lg-center mt-3 mb-2">
                <button id="submitContraseña" name="submit" class="btn btn btn-outline-danger" style="height: 35px;">Guardar cambios</button>
            </div>
        </form>
    </div>
</div>
<script>
    const showError = (element, error) => {
        const errorEl=document.createElement("div");
        errorEl.setAttribute("class","error");
        errorEl.innerHTML=error;
        document.querySelector(element).parentElement.prepend(errorEl);
    }
</script>