<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <p class="d-none d-sm-block"> Hola, Antonio </p>
    <div class="header_img"><img src="https://i.imgur.com/hczKIze.jpg" alt=""> </div>
</header>