<script>
  let citasList;
  citasList = JSON.parse(document.getElementById("citasList").innerText);
  let citas = document.getElementById("citas");
  for (obj of citasList) {
    let date_time = obj.date.split("T");
    citas.innerHTML += `<li class="list-group-item">
      <span class="col">${date_time[0]}</span><span class="col">${date_time[1]}</span><span class="col">Por realizar</span>
      </li>`;
  }
</script>