<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> 
            <a href="#" class="nav_logo"> 
                <i class='d-none bx bx-layer nav_logo-icon'></i>
                <img class ="img-fluid" src ="https://static.wixstatic.com/media/a6ed58_5534a43660c74d59aca8d10d0beebaac~mv2.png " 
                    title = "CovidTrack" alt= "Logo de la empresa"
                    height="24px"
                    width="24px"> 
                <span class="nav_logo-name">Covid Track</span> 
            </a>
            <div class="nav_logo">
                <div class="d-none header_img border">
                    <img src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png" alt=""> 
                </div>
            </div>
            <div class="nav_list"> 
                <a href="#" class="nav_link active">
                    <i class='bx bxs-info-circle nav_icon'></i>
                    <span class="nav_name">Mi información</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bxs-user nav_icon'></i> 
                    <span class="nav_name">Mi doctor</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bxs-calendar-star nav_icon'></i> 
                    <span class="nav_name">Mis citas</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bxl-kubernetes nav_icon'></i> 
                    <span class="nav_name">Ajustes</span> 
                </a> 
                <a href="#" class="nav_link"> 
                    <i class='bx bx-folder nav_icon'></i> 
                    <span class="nav_name">Formularios</span> 
                </a> 
            </div>
        </div> 
        <a href="#" class="nav_link"> 
            <i class='bx bx-log-out nav_icon'></i> 
            <span class="nav_name">Cerrar Sesión</span> 
        </a>
    </nav>
</div>
