<script>
/* Referencia: https://github.com/todo-list-app/todo-list-app.github.io/blob/e35d8a23a934f74b7e47cf07b3e8814930970b37/todo.js#L522*/

var citasList = JSON.parse(document.getElementById("citasList").innerText);
console.log(citasList);

var pacientes = JSON.parse(document.getElementById("pacientes").innerText);
console.log(pacientes);

var pacienteSelect = document.getElementById("pacienteSelect");
for (obj of pacientes) {
  pacienteSelect.innerHTML += `<option value=${obj.dni}>${obj.nombre}</option>`; 
}

main();


function main(){
  let titleInput,
      dateTimeInput,
      todoList = [];
      
  var calendar;
  getElement();
  addListeners();
  initCalendar();
  load();

  function getElement(){
    titleInput = document.getElementById("titleInput");
    dateTimeInput = document.getElementById("dateTimeInput");
    addButton = document.getElementById("addBtn");
  }

  function addListeners() {
    addButton.addEventListener("click", addEntry, false);
  }

  function addEntry(event){
    let titleValue = titleInput.value;
    titleInput.value = "";
    let dateValue = dateTimeInput.value;
    dateTimeInput.value = "";

    let obj = {
        todo: titleValue,
        date: dateValue,
        done: false,
    };

    todoList.push(obj);
    console.log(todoList);
    save();
    addEvent({
            title: 'Cita Medica - '+ obj.todo,
            start: obj.date,
        });
  }

  function load() {
    let retrieved = localStorage.getItem("todoList");
    todoList = JSON.parse(retrieved);
    //console.log(typeof todoList)
    
    if (todoList == null)
      todoList = [];

    if(citasList.length > 0){
        todoList.push.apply(todoList, citasList);
    }
    
    console.log(todoList);
    
    todoList.map(obj => {
        addEvent({
            title: 'Cita Medica - '+ obj.todo,
            start: obj.date,
        });
    });

    if(citasList != []){
        citasList= [];
    }
  }

  function save() {
    let stringified = JSON.stringify(todoList);
    localStorage.setItem("todoList", stringified);
  }
  
  function initCalendar(){
    var calendarE1 = document.getElementById('calendar');
    calendar = new FullCalendar.Calendar(calendarE1,{
      timeZone: 'local',
      themeSystem: 'bootstrap',
      dayMaxEvents: true, // allow "more" link when too many events
      locales: ['idLocale'],
      editable: true,
      selectable: true,
      headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,listMonth'
      },
      eventClick: function (info) {
        toEditItem(info.event);
      },
      eventDrop: function (info) {
        calendarEventDragged(info.event);
      },
      events: [], // [{},{}], Agregar Json de eventos
    });
    calendar.render();
  }
  function addEvent(event) {
        calendar.addEvent( event );
    }

}
</script>