<div class="l-navbar show" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <img id="logo" class ="img-fluid" src ="https://static.wixstatic.com/media/a6ed58_5534a43660c74d59aca8d10d0beebaac~mv2.png " 
                    title = "CovidTrack" alt= "Logo de la empresa"
                    height="24px"
                    width="24px">
                <span class="nav_logo-name">COVIDTRACK</span>
            </a>
            <div class="nav_logo">
                <div class="d-none header_img border">
                    <img src="https://www.pngfind.com/pngs/m/470-4703547_icon-user-icon-hd-png-download.png" alt=""> 
                </div>
            </div>
            <div class="nav_list">
                <a href="/doctor" class="nav_link" title = "Inicio">
                    <svg aria-hidden="true" focusable="false" width="24" height="24" fill="currentColor" data-prefix="fas" data-icon="cog" class="svg-inline--fa fa-cog fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"><path d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z"></path></svg>
                    <span class="nav_name">Inicio</span>
                </a>
                <a href="/doctor/informacion" class="nav_link" title = "Mi informacion">
                    <i class='bx bxs-info-circle nav_icon'></i>
                    <span class="nav_name">Mi información</span>
                </a>
                <a href="/doctor/pacientes" class="nav_link" title = "Mis citas">
                    <i class='bx bxs-calendar-star nav_icon'></i>
                    <span class="nav_name">Mis Pacientes</span>
                </a>
                <a href="/doctor/citas" class="nav_link" title = "Mis citas">
                    <i class='bx bxs-calendar-star nav_icon'></i>
                    <span class="nav_name">Citas</span>
                </a>
                <a href="/doctor/ajustes" class="nav_link" title = "Ajustes">
                    <svg aria-hidden="true" focusable="false" width="24" height="24" fill="currentColor" data-prefix="fas" data-icon="cog" class="svg-inline--fa fa-cog fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"></path>
                    </svg>
                    <span class="nav_name">Ajustes</span>
                </a>
            </div>
        </div>
        <a href="/login" class="nav_link" title = "Cerrar Sesión">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Cerrar Sesión</span>
        </a>
    </nav>
</div>