<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body id="body-pd">
    <!-- Source Code -->
    <!-- https://bbbootstrap.com/snippets/bootstrap-5-sidebar-menu-toggle-button-34132202 -->
    <div class="container-fluid">
        <%- include('./partials/header.ejs')%>
        <div class="row flex-nowrap">
            <%- include('./partials/sidebar.ejs')%>
            <div class="col py-3">
                Content area...
            </div> 
        </div>
    </div>
     <%- include('./partials/script.ejs')%>
</body>
</html>